.overwatch_ability_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(overwatch_ability.png);}

.overwatch_ability_ampitup {width:110px; height:110px; background-position: -0px -0px}
.overwatch_ability_angelicdescent {width:110px; height:110px; background-position: -112px -0px}
.overwatch_ability_armorpack {width:110px; height:110px; background-position: -224px -0px}
.overwatch_ability_barrage {width:110px; height:110px; background-position: -336px -0px}
.overwatch_ability_barrierfield {width:110px; height:110px; background-position: -448px -0px}
.overwatch_ability_barrierprojector {width:110px; height:110px; background-position: -560px -0px}
.overwatch_ability_bioticfield {width:110px; height:110px; background-position: -672px -0px}
.overwatch_ability_bioticgrenade {width:110px; height:110px; background-position: -784px -0px}
.overwatch_ability_bioticrifle {width:110px; height:110px; background-position: -896px -0px}
.overwatch_ability_blink {width:110px; height:110px; background-position: -0px -112px}
.overwatch_ability_blizzard {width:110px; height:110px; background-position: -112px -112px}
.overwatch_ability_boosters {width:110px; height:110px; background-position: -224px -112px}
.overwatch_ability_buildturret {width:110px; height:110px; background-position: -336px -112px}
.overwatch_ability_caduceusblaster {width:110px; height:110px; background-position: -448px -112px}
.overwatch_ability_caduceusstaff {width:110px; height:110px; background-position: -560px -112px}
.overwatch_ability_callmech {width:110px; height:110px; background-position: -672px -112px}
.overwatch_ability_chainhook {width:110px; height:110px; background-position: -784px -112px}
.overwatch_ability_charge {width:110px; height:110px; background-position: -896px -112px}
.overwatch_ability_combatroll {width:110px; height:110px; background-position: -0px -224px}
.overwatch_ability_concussionmine {width:110px; height:110px; background-position: -112px -224px}
.overwatch_ability_concussiveblast {width:110px; height:110px; background-position: -224px -224px}
.overwatch_ability_configurationrecon {width:110px; height:110px; background-position: -336px -224px}
.overwatch_ability_configurationsentry {width:110px; height:110px; background-position: -448px -224px}
.overwatch_ability_configurationtank {width:110px; height:110px; background-position: -560px -224px}
.overwatch_ability_crossfade {width:110px; height:110px; background-position: -672px -224px}
.overwatch_ability_cryofreeze {width:110px; height:110px; background-position: -784px -224px}
.overwatch_ability_cyberagility {width:110px; height:110px; background-position: -896px -224px}
.overwatch_ability_deadeye {width:110px; height:110px; background-position: -0px -336px}
.overwatch_ability_deathblossom {width:110px; height:110px; background-position: -112px -336px}
.overwatch_ability_defensematrix {width:110px; height:110px; background-position: -224px -336px}
.overwatch_ability_deflect {width:110px; height:110px; background-position: -336px -336px}
.overwatch_ability_dragonblade {width:110px; height:110px; background-position: -448px -336px}
.overwatch_ability_dragonstrike {width:110px; height:110px; background-position: -560px -336px}
.overwatch_ability_earthshatter {width:110px; height:110px; background-position: -672px -336px}
.overwatch_ability_emp {width:110px; height:110px; background-position: -784px -336px}
.overwatch_ability_endothermicblaster {width:110px; height:110px; background-position: -896px -336px}
.overwatch_ability_energyball {width:110px; height:110px; background-position: -0px -448px}
.overwatch_ability_fanofblades {width:110px; height:110px; background-position: -112px -448px}
.overwatch_ability_fanthehammer {width:110px; height:110px; background-position: -224px -448px}
.overwatch_ability_firestrike {width:110px; height:110px; background-position: -336px -448px}
.overwatch_ability_flashbang {width:110px; height:110px; background-position: -448px -448px}
.overwatch_ability_forgehammer {width:110px; height:110px; background-position: -560px -448px}
.overwatch_ability_fraglauncher {width:110px; height:110px; background-position: -672px -448px}
.overwatch_ability_fusioncannons {width:110px; height:110px; background-position: -784px -448px}
.overwatch_ability_grapplinghook {width:110px; height:110px; background-position: -896px -448px}
.overwatch_ability_guardianangel {width:110px; height:110px; background-position: -0px -560px}
.overwatch_ability_hack {width:110px; height:110px; background-position: -112px -560px}
.overwatch_ability_heavypulserifle {width:110px; height:110px; background-position: -224px -560px}
.overwatch_ability_helixrockets {width:110px; height:110px; background-position: -336px -560px}
.overwatch_ability_hellfireshotguns {width:110px; height:110px; background-position: -448px -560px}
.overwatch_ability_icewall {width:110px; height:110px; background-position: -560px -560px}
.overwatch_ability_icicle {width:110px; height:110px; background-position: -672px -560px}
.overwatch_ability_infrasight {width:110px; height:110px; background-position: -784px -560px}
.overwatch_ability_jumpjet {width:110px; height:110px; background-position: -896px -560px}
.overwatch_ability_jumppack {width:110px; height:110px; background-position: -0px -672px}
.overwatch_ability_lightgun {width:110px; height:110px; background-position: -112px -672px}
.overwatch_ability_machinepistol {width:110px; height:110px; background-position: -224px -672px}
.overwatch_ability_moltencore {width:110px; height:110px; background-position: -336px -672px}
.overwatch_ability_nanoboost {width:110px; height:110px; background-position: -448px -672px}
.overwatch_ability_opportunist {width:110px; height:110px; background-position: -560px -672px}
.overwatch_ability_orbofdestruction {width:110px; height:110px; background-position: -672px -672px}
.overwatch_ability_orbofdiscord {width:110px; height:110px; background-position: -784px -672px}
.overwatch_ability_orbofharmony {width:110px; height:110px; background-position: -896px -672px}
.overwatch_ability_orbvolley {width:110px; height:110px; background-position: -0px -784px}
.overwatch_ability_peacekeeper {width:110px; height:110px; background-position: -112px -784px}
.overwatch_ability_photonbarrier {width:110px; height:110px; background-position: -224px -784px}
.overwatch_ability_photonprojector {width:110px; height:110px; background-position: -336px -784px}
.overwatch_ability_primalrage {width:110px; height:110px; background-position: -448px -784px}
.overwatch_ability_pulsebomb {width:110px; height:110px; background-position: -560px -784px}
.overwatch_ability_pulsepistols {width:110px; height:110px; background-position: -672px -784px}
.overwatch_ability_recall {width:110px; height:110px; background-position: -784px -784px}
.overwatch_ability_reconfigure {width:110px; height:110px; background-position: -896px -784px}
.overwatch_ability_resurrect {width:110px; height:110px; background-position: -0px -896px}
.overwatch_ability_riptire {width:110px; height:110px; background-position: -112px -896px}
.overwatch_ability_rivetgun {width:110px; height:110px; background-position: -224px -896px}
.overwatch_ability_rockethammer {width:110px; height:110px; background-position: -336px -896px}
.overwatch_ability_rocketlauncher {width:110px; height:110px; background-position: -448px -896px}
.overwatch_ability_scatterarrow {width:110px; height:110px; background-position: -560px -896px}
.overwatch_ability_scrapcollector {width:110px; height:110px; background-position: -672px -896px}
.overwatch_ability_scrapgun {width:110px; height:110px; background-position: -784px -896px}
.overwatch_ability_selfdestruct {width:110px; height:110px; background-position: -896px -896px}
.overwatch_ability_selfrepair {width:110px; height:110px; background-position: -0px -1008px}
.overwatch_ability_sentryturret {width:110px; height:110px; background-position: -112px -1008px}
.overwatch_ability_shadowstep {width:110px; height:110px; background-position: -224px -1008px}
.overwatch_ability_shieldgenerator {width:110px; height:110px; background-position: -336px -1008px}
.overwatch_ability_shuriken {width:110px; height:110px; background-position: -448px -1008px}
.overwatch_ability_sleepdart {width:110px; height:110px; background-position: -560px -1008px}
.overwatch_ability_sonicamplifier {width:110px; height:110px; background-position: -672px -1008px}
.overwatch_ability_sonicarrow {width:110px; height:110px; background-position: -784px -1008px}
.overwatch_ability_soundbarrier {width:110px; height:110px; background-position: -896px -1008px}
.overwatch_ability_soundwave {width:110px; height:110px; background-position: -0px -1120px}
.overwatch_ability_sprint {width:110px; height:110px; background-position: -112px -1120px}
.overwatch_ability_steeltrap {width:110px; height:110px; background-position: -224px -1120px}
.overwatch_ability_stormbow {width:110px; height:110px; background-position: -336px -1120px}
.overwatch_ability_swiftstrike {width:110px; height:110px; background-position: -448px -1120px}
.overwatch_ability_tacticalvisor {width:110px; height:110px; background-position: -560px -1120px}
.overwatch_ability_takeabreather {width:110px; height:110px; background-position: -672px -1120px}
.overwatch_ability_teleporter {width:110px; height:110px; background-position: -784px -1120px}
.overwatch_ability_teslacannon {width:110px; height:110px; background-position: -896px -1120px}
.overwatch_ability_thereaping {width:110px; height:110px; background-position: -0px -1232px}
.overwatch_ability_thermopticcamo {width:110px; height:110px; background-position: -112px -1232px}
.overwatch_ability_totalmayhem {width:110px; height:110px; background-position: -224px -1232px}
.overwatch_ability_transcendence {width:110px; height:110px; background-position: -336px -1232px}
.overwatch_ability_translocator {width:110px; height:110px; background-position: -448px -1232px}
.overwatch_ability_venommine {width:110px; height:110px; background-position: -560px -1232px}
.overwatch_ability_wallclimb {width:110px; height:110px; background-position: -672px -1232px}
.overwatch_ability_wholehog {width:110px; height:110px; background-position: -784px -1232px}
.overwatch_ability_widowskissassault {width:110px; height:110px; background-position: -896px -1232px}
.overwatch_ability_widowskisssniper {width:110px; height:110px; background-position: -0px -1344px}
.overwatch_ability_wraithform {width:110px; height:110px; background-position: -112px -1344px}
.overwatch_hero_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(overwatch_hero.png);}

.overwatch_hero_1 {width:112px; height:100px; background-position: -0px -0px}
.overwatch_hero_10 {width:112px; height:100px; background-position: -114px -408px}
.overwatch_hero_11 {width:112px; height:100px; background-position: -0px -510px}
.overwatch_hero_12 {width:112px; height:100px; background-position: -114px -510px}
.overwatch_hero_13 {width:112px; height:100px; background-position: -0px -612px}
.overwatch_hero_14 {width:112px; height:100px; background-position: -114px -612px}
.overwatch_hero_15 {width:112px; height:100px; background-position: -0px -714px}
.overwatch_hero_16 {width:112px; height:100px; background-position: -114px -714px}
.overwatch_hero_17 {width:112px; height:100px; background-position: -0px -816px}
.overwatch_hero_18 {width:112px; height:100px; background-position: -114px -816px}
.overwatch_hero_19 {width:112px; height:100px; background-position: -0px -918px}
.overwatch_hero_2 {width:112px; height:100px; background-position: -114px -0px}
.overwatch_hero_20 {width:112px; height:100px; background-position: -114px -918px}
.overwatch_hero_21 {width:112px; height:100px; background-position: -0px -1020px}
.overwatch_hero_22 {width:112px; height:100px; background-position: -114px -1020px}
.overwatch_hero_23 {width:112px; height:100px; background-position: -0px -1122px}
.overwatch_hero_3 {width:112px; height:100px; background-position: -0px -102px}
.overwatch_hero_4 {width:112px; height:100px; background-position: -114px -102px}
.overwatch_hero_5 {width:112px; height:100px; background-position: -0px -204px}
.overwatch_hero_6 {width:112px; height:100px; background-position: -114px -204px}
.overwatch_hero_7 {width:112px; height:100px; background-position: -0px -306px}
.overwatch_hero_8 {width:112px; height:100px; background-position: -114px -306px}
.overwatch_hero_9 {width:112px; height:100px; background-position: -0px -408px}
.overwatch_rank_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(overwatch_rank.png);}

.overwatch_rank_0 {width:64px; height:64px; background-position: -0px -0px}
.overwatch_rank_1 {width:64px; height:64px; background-position: -66px -0px}
.overwatch_rank_2 {width:64px; height:64px; background-position: -132px -0px}
.overwatch_rank_3 {width:64px; height:64px; background-position: -198px -0px}
.overwatch_rank_4 {width:64px; height:64px; background-position: -264px -0px}
.overwatch_rank_5 {width:64px; height:64px; background-position: -330px -0px}
.overwatch_rank_6 {width:64px; height:64px; background-position: -396px -0px}
.overwatch_rank_7 {width:64px; height:64px; background-position: -462px -0px}
.overwatch_rank_8 {width:64px; height:64px; background-position: -528px -0px}
