.gwent_pos_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(gwent_pos.png);}

.gwent_pos_0 {width:100px; height:106px; background-position: -2px -2px}
.gwent_pos_1 {width:100px; height:106px; background-position: -104px -2px}
.gwent_pos_2 {width:100px; height:106px; background-position: -206px -2px}
.gwent_pos_3 {width:100px; height:106px; background-position: -308px -2px}
.gwent_pos_4 {width:100px; height:106px; background-position: -410px -2px}
.gwent_fact_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(gwent_fact.png);}

.gwent_fact_1 {width:167px; height:184px; background-position: -2px -2px}
.gwent_fact_2 {width:167px; height:184px; background-position: -171px -2px}
.gwent_fact_3 {width:167px; height:184px; background-position: -340px -2px}
.gwent_fact_4 {width:167px; height:184px; background-position: -2px -188px}
.gwent_fact_5 {width:167px; height:184px; background-position: -171px -188px}
.gwent_fact_6 {width:167px; height:184px; background-position: -340px -188px}
.gwent_set1_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(gwent_set1.jpg);}

.gwent_set1_0 {width:130px; height:220px; background-position: -2px -2px}
.gwent_set1_1 {width:130px; height:220px; background-position: -134px -2px}
.gwent_set1_10 {width:130px; height:220px; background-position: -1190px -2px}
.gwent_set1_1000 {width:130px; height:220px; background-position: -1322px -224px}
.gwent_set1_10000 {width:130px; height:220px; background-position: -662px -890px}
.gwent_set1_1001 {width:130px; height:220px; background-position: -1454px -224px}
.gwent_set1_1003 {width:130px; height:220px; background-position: -1586px -224px}
.gwent_set1_1006 {width:130px; height:220px; background-position: -1718px -224px}
.gwent_set1_1030 {width:130px; height:220px; background-position: -1850px -224px}
.gwent_set1_1031 {width:130px; height:220px; background-position: -1982px -224px}
.gwent_set1_1039 {width:130px; height:220px; background-position: -2114px -224px}
.gwent_set1_1042 {width:130px; height:220px; background-position: -2246px -224px}
.gwent_set1_1043 {width:130px; height:220px; background-position: -2378px -224px}
.gwent_set1_11 {width:130px; height:220px; background-position: -1322px -2px}
.gwent_set1_1106 {width:130px; height:220px; background-position: -2510px -224px}
.gwent_set1_1107 {width:130px; height:220px; background-position: -2642px -224px}
.gwent_set1_1108 {width:130px; height:220px; background-position: -2774px -224px}
.gwent_set1_1111 {width:130px; height:220px; background-position: -2906px -224px}
.gwent_set1_1112 {width:130px; height:220px; background-position: -3038px -224px}
.gwent_set1_1114 {width:130px; height:220px; background-position: -3170px -224px}
.gwent_set1_1115 {width:130px; height:220px; background-position: -3302px -224px}
.gwent_set1_1116 {width:130px; height:220px; background-position: -3434px -224px}
.gwent_set1_1117 {width:130px; height:220px; background-position: -3566px -224px}
.gwent_set1_1118 {width:130px; height:220px; background-position: -2px -446px}
.gwent_set1_12 {width:130px; height:220px; background-position: -1454px -2px}
.gwent_set1_2 {width:130px; height:220px; background-position: -266px -2px}
.gwent_set1_3 {width:130px; height:220px; background-position: -398px -2px}
.gwent_set1_3000 {width:130px; height:220px; background-position: -134px -446px}
.gwent_set1_30001 {width:130px; height:220px; background-position: -794px -890px}
.gwent_set1_30002 {width:130px; height:220px; background-position: -926px -890px}
.gwent_set1_3006 {width:130px; height:220px; background-position: -266px -446px}
.gwent_set1_3032 {width:130px; height:220px; background-position: -398px -446px}
.gwent_set1_3034 {width:130px; height:220px; background-position: -530px -446px}
.gwent_set1_3037 {width:130px; height:220px; background-position: -662px -446px}
.gwent_set1_3040 {width:130px; height:220px; background-position: -794px -446px}
.gwent_set1_3042 {width:130px; height:220px; background-position: -926px -446px}
.gwent_set1_3043 {width:130px; height:220px; background-position: -1058px -446px}
.gwent_set1_3100 {width:130px; height:220px; background-position: -1190px -446px}
.gwent_set1_3101 {width:130px; height:220px; background-position: -1322px -446px}
.gwent_set1_3103 {width:130px; height:220px; background-position: -1454px -446px}
.gwent_set1_3104 {width:130px; height:220px; background-position: -1586px -446px}
.gwent_set1_3106 {width:130px; height:220px; background-position: -1718px -446px}
.gwent_set1_3108 {width:130px; height:220px; background-position: -1850px -446px}
.gwent_set1_3109 {width:130px; height:220px; background-position: -1982px -446px}
.gwent_set1_3110 {width:130px; height:220px; background-position: -2114px -446px}
.gwent_set1_3113 {width:130px; height:220px; background-position: -2246px -446px}
.gwent_set1_3116 {width:130px; height:220px; background-position: -2378px -446px}
.gwent_set1_4 {width:130px; height:220px; background-position: -530px -2px}
.gwent_set1_40000 {width:130px; height:220px; background-position: -1058px -890px}
.gwent_set1_40002 {width:130px; height:220px; background-position: -1190px -890px}
.gwent_set1_4002 {width:130px; height:220px; background-position: -2510px -446px}
.gwent_set1_4003 {width:130px; height:220px; background-position: -2642px -446px}
.gwent_set1_4004 {width:130px; height:220px; background-position: -2774px -446px}
.gwent_set1_4033 {width:130px; height:220px; background-position: -2906px -446px}
.gwent_set1_4035 {width:130px; height:220px; background-position: -3038px -446px}
.gwent_set1_4036 {width:130px; height:220px; background-position: -3170px -446px}
.gwent_set1_4037 {width:130px; height:220px; background-position: -3302px -446px}
.gwent_set1_4038 {width:130px; height:220px; background-position: -3434px -446px}
.gwent_set1_4039 {width:130px; height:220px; background-position: -3566px -446px}
.gwent_set1_4040 {width:130px; height:220px; background-position: -2px -668px}
.gwent_set1_4041 {width:130px; height:220px; background-position: -134px -668px}
.gwent_set1_4042 {width:130px; height:220px; background-position: -266px -668px}
.gwent_set1_4045 {width:130px; height:220px; background-position: -398px -668px}
.gwent_set1_4047 {width:130px; height:220px; background-position: -530px -668px}
.gwent_set1_4051 {width:130px; height:220px; background-position: -662px -668px}
.gwent_set1_4100 {width:130px; height:220px; background-position: -794px -668px}
.gwent_set1_4101 {width:130px; height:220px; background-position: -926px -668px}
.gwent_set1_4102 {width:130px; height:220px; background-position: -1058px -668px}
.gwent_set1_4110 {width:130px; height:220px; background-position: -1190px -668px}
.gwent_set1_4113 {width:130px; height:220px; background-position: -1322px -668px}
.gwent_set1_4114 {width:130px; height:220px; background-position: -1454px -668px}
.gwent_set1_5 {width:130px; height:220px; background-position: -662px -2px}
.gwent_set1_5000 {width:130px; height:220px; background-position: -1586px -668px}
.gwent_set1_50001 {width:130px; height:220px; background-position: -1322px -890px}
.gwent_set1_50002 {width:130px; height:220px; background-position: -1454px -890px}
.gwent_set1_5001 {width:130px; height:220px; background-position: -1718px -668px}
.gwent_set1_50017 {width:130px; height:220px; background-position: -1586px -890px}
.gwent_set1_50018 {width:130px; height:220px; background-position: -1718px -890px}
.gwent_set1_50019 {width:130px; height:220px; background-position: -1850px -890px}
.gwent_set1_5002 {width:130px; height:220px; background-position: -1850px -668px}
.gwent_set1_50020 {width:130px; height:220px; background-position: -1982px -890px}
.gwent_set1_50021 {width:130px; height:220px; background-position: -2114px -890px}
.gwent_set1_50022 {width:130px; height:220px; background-position: -2246px -890px}
.gwent_set1_50023 {width:130px; height:220px; background-position: -2378px -890px}
.gwent_set1_50029 {width:130px; height:220px; background-position: -2510px -890px}
.gwent_set1_5003 {width:130px; height:220px; background-position: -1982px -668px}
.gwent_set1_50030 {width:130px; height:220px; background-position: -2642px -890px}
.gwent_set1_50031 {width:130px; height:220px; background-position: -2774px -890px}
.gwent_set1_50032 {width:130px; height:220px; background-position: -2906px -890px}
.gwent_set1_50033 {width:130px; height:220px; background-position: -3038px -890px}
.gwent_set1_50034 {width:130px; height:220px; background-position: -3170px -890px}
.gwent_set1_50035 {width:130px; height:220px; background-position: -3302px -890px}
.gwent_set1_50036 {width:130px; height:220px; background-position: -3434px -890px}
.gwent_set1_50037 {width:130px; height:220px; background-position: -3566px -890px}
.gwent_set1_50038 {width:130px; height:220px; background-position: -2px -1112px}
.gwent_set1_50039 {width:130px; height:220px; background-position: -134px -1112px}
.gwent_set1_50040 {width:130px; height:220px; background-position: -266px -1112px}
.gwent_set1_50042 {width:130px; height:220px; background-position: -398px -1112px}
.gwent_set1_50043 {width:130px; height:220px; background-position: -530px -1112px}
.gwent_set1_50049 {width:130px; height:220px; background-position: -662px -1112px}
.gwent_set1_5005 {width:130px; height:220px; background-position: -2114px -668px}
.gwent_set1_50050 {width:130px; height:220px; background-position: -794px -1112px}
.gwent_set1_50051 {width:130px; height:220px; background-position: -926px -1112px}
.gwent_set1_50052 {width:130px; height:220px; background-position: -1058px -1112px}
.gwent_set1_50053 {width:130px; height:220px; background-position: -1190px -1112px}
.gwent_set1_50054 {width:130px; height:220px; background-position: -1322px -1112px}
.gwent_set1_50055 {width:130px; height:220px; background-position: -1454px -1112px}
.gwent_set1_50056 {width:130px; height:220px; background-position: -1586px -1112px}
.gwent_set1_50057 {width:130px; height:220px; background-position: -1718px -1112px}
.gwent_set1_50058 {width:130px; height:220px; background-position: -1850px -1112px}
.gwent_set1_50059 {width:130px; height:220px; background-position: -1982px -1112px}
.gwent_set1_50060 {width:130px; height:220px; background-position: -2114px -1112px}
.gwent_set1_50061 {width:130px; height:220px; background-position: -2246px -1112px}
.gwent_set1_50062 {width:130px; height:220px; background-position: -2378px -1112px}
.gwent_set1_50063 {width:130px; height:220px; background-position: -2510px -1112px}
.gwent_set1_50064 {width:130px; height:220px; background-position: -2642px -1112px}
.gwent_set1_50065 {width:130px; height:220px; background-position: -2774px -1112px}
.gwent_set1_50066 {width:130px; height:220px; background-position: -2906px -1112px}
.gwent_set1_50067 {width:130px; height:220px; background-position: -3038px -1112px}
.gwent_set1_50071 {width:130px; height:220px; background-position: -3170px -1112px}
.gwent_set1_50074 {width:130px; height:220px; background-position: -3302px -1112px}
.gwent_set1_50075 {width:130px; height:220px; background-position: -3434px -1112px}
.gwent_set1_50076 {width:130px; height:220px; background-position: -3566px -1112px}
.gwent_set1_50077 {width:130px; height:220px; background-position: -2px -1334px}
.gwent_set1_50078 {width:130px; height:220px; background-position: -134px -1334px}
.gwent_set1_50079 {width:130px; height:220px; background-position: -266px -1334px}
.gwent_set1_50080 {width:130px; height:220px; background-position: -398px -1334px}
.gwent_set1_50081 {width:130px; height:220px; background-position: -530px -1334px}
.gwent_set1_50082 {width:130px; height:220px; background-position: -662px -1334px}
.gwent_set1_50084 {width:130px; height:220px; background-position: -794px -1334px}
.gwent_set1_50085 {width:130px; height:220px; background-position: -926px -1334px}
.gwent_set1_50086 {width:130px; height:220px; background-position: -1058px -1334px}
.gwent_set1_50087 {width:130px; height:220px; background-position: -1190px -1334px}
.gwent_set1_50088 {width:130px; height:220px; background-position: -1322px -1334px}
.gwent_set1_50089 {width:130px; height:220px; background-position: -1454px -1334px}
.gwent_set1_50090 {width:130px; height:220px; background-position: -1586px -1334px}
.gwent_set1_50091 {width:130px; height:220px; background-position: -1718px -1334px}
.gwent_set1_501 {width:130px; height:220px; background-position: -1586px -2px}
.gwent_set1_50101 {width:130px; height:220px; background-position: -1850px -1334px}
.gwent_set1_50102 {width:130px; height:220px; background-position: -1982px -1334px}
.gwent_set1_50104 {width:130px; height:220px; background-position: -2114px -1334px}
.gwent_set1_50105 {width:130px; height:220px; background-position: -2246px -1334px}
.gwent_set1_50106 {width:130px; height:220px; background-position: -2378px -1334px}
.gwent_set1_50107 {width:130px; height:220px; background-position: -2510px -1334px}
.gwent_set1_50108 {width:130px; height:220px; background-position: -2642px -1334px}
.gwent_set1_50109 {width:130px; height:220px; background-position: -2774px -1334px}
.gwent_set1_50110 {width:130px; height:220px; background-position: -2906px -1334px}
.gwent_set1_50111 {width:130px; height:220px; background-position: -3038px -1334px}
.gwent_set1_50112 {width:130px; height:220px; background-position: -3170px -1334px}
.gwent_set1_50113 {width:130px; height:220px; background-position: -3302px -1334px}
.gwent_set1_50114 {width:130px; height:220px; background-position: -3434px -1334px}
.gwent_set1_50115 {width:130px; height:220px; background-position: -3566px -1334px}
.gwent_set1_50116 {width:130px; height:220px; background-position: -2px -1556px}
.gwent_set1_50117 {width:130px; height:220px; background-position: -134px -1556px}
.gwent_set1_50118 {width:130px; height:220px; background-position: -266px -1556px}
.gwent_set1_50119 {width:130px; height:220px; background-position: -398px -1556px}
.gwent_set1_50120 {width:130px; height:220px; background-position: -530px -1556px}
.gwent_set1_50121 {width:130px; height:220px; background-position: -662px -1556px}
.gwent_set1_50122 {width:130px; height:220px; background-position: -794px -1556px}
.gwent_set1_50123 {width:130px; height:220px; background-position: -926px -1556px}
.gwent_set1_50124 {width:130px; height:220px; background-position: -1058px -1556px}
.gwent_set1_50125 {width:130px; height:220px; background-position: -1190px -1556px}
.gwent_set1_50126 {width:130px; height:220px; background-position: -1322px -1556px}
.gwent_set1_50127 {width:130px; height:220px; background-position: -1454px -1556px}
.gwent_set1_50128 {width:130px; height:220px; background-position: -1586px -1556px}
.gwent_set1_50129 {width:130px; height:220px; background-position: -1718px -1556px}
.gwent_set1_50130 {width:130px; height:220px; background-position: -1850px -1556px}
.gwent_set1_50131 {width:130px; height:220px; background-position: -1982px -1556px}
.gwent_set1_50132 {width:130px; height:220px; background-position: -2114px -1556px}
.gwent_set1_50133 {width:130px; height:220px; background-position: -2246px -1556px}
.gwent_set1_50134 {width:130px; height:220px; background-position: -2378px -1556px}
.gwent_set1_50135 {width:130px; height:220px; background-position: -2510px -1556px}
.gwent_set1_50136 {width:130px; height:220px; background-position: -2642px -1556px}
.gwent_set1_50137 {width:130px; height:220px; background-position: -2774px -1556px}
.gwent_set1_50138 {width:130px; height:220px; background-position: -2906px -1556px}
.gwent_set1_50139 {width:130px; height:220px; background-position: -3038px -1556px}
.gwent_set1_50140 {width:130px; height:220px; background-position: -3170px -1556px}
.gwent_set1_50141 {width:130px; height:220px; background-position: -3302px -1556px}
.gwent_set1_50142 {width:130px; height:220px; background-position: -3434px -1556px}
.gwent_set1_50143 {width:130px; height:220px; background-position: -3566px -1556px}
.gwent_set1_50144 {width:130px; height:220px; background-position: -2px -1778px}
.gwent_set1_50150 {width:130px; height:220px; background-position: -134px -1778px}
.gwent_set1_50151 {width:130px; height:220px; background-position: -266px -1778px}
.gwent_set1_50152 {width:130px; height:220px; background-position: -398px -1778px}
.gwent_set1_50153 {width:130px; height:220px; background-position: -530px -1778px}
.gwent_set1_50154 {width:130px; height:220px; background-position: -662px -1778px}
.gwent_set1_50155 {width:130px; height:220px; background-position: -794px -1778px}
.gwent_set1_50156 {width:130px; height:220px; background-position: -926px -1778px}
.gwent_set1_50157 {width:130px; height:220px; background-position: -1058px -1778px}
.gwent_set1_50158 {width:130px; height:220px; background-position: -1190px -1778px}
.gwent_set1_50159 {width:130px; height:220px; background-position: -1322px -1778px}
.gwent_set1_50160 {width:130px; height:220px; background-position: -1454px -1778px}
.gwent_set1_50161 {width:130px; height:220px; background-position: -1586px -1778px}
.gwent_set1_50162 {width:130px; height:220px; background-position: -1718px -1778px}
.gwent_set1_50163 {width:130px; height:220px; background-position: -1850px -1778px}
.gwent_set1_50164 {width:130px; height:220px; background-position: -1982px -1778px}
.gwent_set1_50165 {width:130px; height:220px; background-position: -2114px -1778px}
.gwent_set1_50166 {width:130px; height:220px; background-position: -2246px -1778px}
.gwent_set1_50167 {width:130px; height:220px; background-position: -2378px -1778px}
.gwent_set1_50168 {width:130px; height:220px; background-position: -2510px -1778px}
.gwent_set1_50169 {width:130px; height:220px; background-position: -2642px -1778px}
.gwent_set1_50170 {width:130px; height:220px; background-position: -2774px -1778px}
.gwent_set1_50171 {width:130px; height:220px; background-position: -2906px -1778px}
.gwent_set1_50172 {width:130px; height:220px; background-position: -3038px -1778px}
.gwent_set1_50173 {width:130px; height:220px; background-position: -3170px -1778px}
.gwent_set1_50174 {width:130px; height:220px; background-position: -3302px -1778px}
.gwent_set1_50175 {width:130px; height:220px; background-position: -3434px -1778px}
.gwent_set1_50177 {width:130px; height:220px; background-position: -3566px -1778px}
.gwent_set1_50178 {width:130px; height:220px; background-position: -2px -2000px}
.gwent_set1_50179 {width:130px; height:220px; background-position: -134px -2000px}
.gwent_set1_50180 {width:130px; height:220px; background-position: -266px -2000px}
.gwent_set1_50181 {width:130px; height:220px; background-position: -398px -2000px}
.gwent_set1_50182 {width:130px; height:220px; background-position: -530px -2000px}
.gwent_set1_50183 {width:130px; height:220px; background-position: -662px -2000px}
.gwent_set1_50184 {width:130px; height:220px; background-position: -794px -2000px}
.gwent_set1_50185 {width:130px; height:220px; background-position: -926px -2000px}
.gwent_set1_50186 {width:130px; height:220px; background-position: -1058px -2000px}
.gwent_set1_50187 {width:130px; height:220px; background-position: -1190px -2000px}
.gwent_set1_50188 {width:130px; height:220px; background-position: -1322px -2000px}
.gwent_set1_50189 {width:130px; height:220px; background-position: -1454px -2000px}
.gwent_set1_50190 {width:130px; height:220px; background-position: -1586px -2000px}
.gwent_set1_50191 {width:130px; height:220px; background-position: -1718px -2000px}
.gwent_set1_50195 {width:130px; height:220px; background-position: -1850px -2000px}
.gwent_set1_50196 {width:130px; height:220px; background-position: -1982px -2000px}
.gwent_set1_50197 {width:130px; height:220px; background-position: -2114px -2000px}
.gwent_set1_50198 {width:130px; height:220px; background-position: -2246px -2000px}
.gwent_set1_50199 {width:130px; height:220px; background-position: -2378px -2000px}
.gwent_set1_50202 {width:130px; height:220px; background-position: -2510px -2000px}
.gwent_set1_50203 {width:130px; height:220px; background-position: -2642px -2000px}
.gwent_set1_50204 {width:130px; height:220px; background-position: -2774px -2000px}
.gwent_set1_50205 {width:130px; height:220px; background-position: -2906px -2000px}
.gwent_set1_50206 {width:130px; height:220px; background-position: -3038px -2000px}
.gwent_set1_50207 {width:130px; height:220px; background-position: -3170px -2000px}
.gwent_set1_50208 {width:130px; height:220px; background-position: -3302px -2000px}
.gwent_set1_50209 {width:130px; height:220px; background-position: -3434px -2000px}
.gwent_set1_50210 {width:130px; height:220px; background-position: -3566px -2000px}
.gwent_set1_5031 {width:130px; height:220px; background-position: -2246px -668px}
.gwent_set1_5032 {width:130px; height:220px; background-position: -2378px -668px}
.gwent_set1_5033 {width:130px; height:220px; background-position: -2510px -668px}
.gwent_set1_5036 {width:130px; height:220px; background-position: -2642px -668px}
.gwent_set1_5037 {width:130px; height:220px; background-position: -2774px -668px}
.gwent_set1_5038 {width:130px; height:220px; background-position: -2906px -668px}
.gwent_set1_5041 {width:130px; height:220px; background-position: -3038px -668px}
.gwent_set1_5043 {width:130px; height:220px; background-position: -3170px -668px}
.gwent_set1_505 {width:130px; height:220px; background-position: -1718px -2px}
.gwent_set1_506 {width:130px; height:220px; background-position: -1850px -2px}
.gwent_set1_507 {width:130px; height:220px; background-position: -1982px -2px}
.gwent_set1_508 {width:130px; height:220px; background-position: -2114px -2px}
.gwent_set1_509 {width:130px; height:220px; background-position: -2246px -2px}
.gwent_set1_5104 {width:130px; height:220px; background-position: -3302px -668px}
.gwent_set1_5105 {width:130px; height:220px; background-position: -3434px -668px}
.gwent_set1_5106 {width:130px; height:220px; background-position: -3566px -668px}
.gwent_set1_5107 {width:130px; height:220px; background-position: -2px -890px}
.gwent_set1_5114 {width:130px; height:220px; background-position: -134px -890px}
.gwent_set1_5115 {width:130px; height:220px; background-position: -266px -890px}
.gwent_set1_5116 {width:130px; height:220px; background-position: -398px -890px}
.gwent_set1_5117 {width:130px; height:220px; background-position: -530px -890px}
.gwent_set1_515 {width:130px; height:220px; background-position: -2378px -2px}
.gwent_set1_517 {width:130px; height:220px; background-position: -2510px -2px}
.gwent_set1_550 {width:130px; height:220px; background-position: -2642px -2px}
.gwent_set1_551 {width:130px; height:220px; background-position: -2774px -2px}
.gwent_set1_552 {width:130px; height:220px; background-position: -2906px -2px}
.gwent_set1_553 {width:130px; height:220px; background-position: -3038px -2px}
.gwent_set1_555 {width:130px; height:220px; background-position: -3170px -2px}
.gwent_set1_559 {width:130px; height:220px; background-position: -3302px -2px}
.gwent_set1_562 {width:130px; height:220px; background-position: -3434px -2px}
.gwent_set1_564 {width:130px; height:220px; background-position: -3566px -2px}
.gwent_set1_566 {width:130px; height:220px; background-position: -2px -224px}
.gwent_set1_567 {width:130px; height:220px; background-position: -134px -224px}
.gwent_set1_568 {width:130px; height:220px; background-position: -266px -224px}
.gwent_set1_572 {width:130px; height:220px; background-position: -398px -224px}
.gwent_set1_573 {width:130px; height:220px; background-position: -530px -224px}
.gwent_set1_574 {width:130px; height:220px; background-position: -662px -224px}
.gwent_set1_575 {width:130px; height:220px; background-position: -794px -224px}
.gwent_set1_576 {width:130px; height:220px; background-position: -926px -224px}
.gwent_set1_582 {width:130px; height:220px; background-position: -1058px -224px}
.gwent_set1_584 {width:130px; height:220px; background-position: -1190px -224px}
.gwent_set1_6 {width:130px; height:220px; background-position: -794px -2px}
.gwent_set1_8 {width:130px; height:220px; background-position: -926px -2px}
.gwent_set1_9 {width:130px; height:220px; background-position: -1058px -2px}
