h1 {
	margin-top: 10px;
  text-align: center;
}

.navbar{
	/* background-color: #5eafe0 !important; */
	background-color: #f6f6f6 !important;
}

#root{
	position:absolute;
	left:50%;
	height: 500px;
}

#root button:focus {
    outline: none !important;
}

.android {
	font-weight:bold;
	Color:#A4C639 !important;
}

.common_rank_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(common_rank.png);}
.common_rank_0 {width:64px; height:64px; background-position: -0px -0px}
.common_rank_1 {width:64px; height:64px; background-position: -64px -0px}
.common_rank_2 {width:64px; height:64px; background-position: -128px -0px}
.common_rank_3 {width:64px; height:64px; background-position: -192px -0px}
.common_rank_4 {width:64px; height:64px; background-position: -256px -0px}
.common_rank_5 {width:64px; height:64px; background-position: -320px -0px}
.common_rank_6 {width:64px; height:64px; background-position: -384px -0px}
.common_rank_7 {width:64px; height:64px; background-position: -448px -0px}
.common_rank_8 {width:64px; height:64px; background-position: -512px -0px}
.common_rank_9 {width:64px; height:64px; background-position: -576px -0px}
.common_icon_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(common_icon.png);}
.common_icon_check {width:64px; height:64px; background-position: -0px -0px}
.common_icon_hard {width:64px; height:64px; background-position: -64px -0px}
.common_icon_lock {width:64px; height:64px; background-position: -128px -0px}
.common_icon_normal {width:64px; height:64px; background-position: -192px -0px}
.common_icon_progress {width:64px; height:64px; background-position: -256px -0px}
.common_icon_question {width:64px; height:64px; background-position: -320px -0px}
.common_icon_speed {width:64px; height:64px; background-position: -384px -0px}
.common_icon_unlock {width:64px; height:64px; background-position: -448px -0px}
