.leagueoflegends_rank_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(leagueoflegends_rank.png);}

.leagueoflegends_rank_0 {width:160px; height:160px; background-position: -2px -2px}
.leagueoflegends_rank_1 {width:160px; height:160px; background-position: -164px -2px}
.leagueoflegends_rank_2 {width:160px; height:160px; background-position: -326px -2px}
.leagueoflegends_rank_3 {width:160px; height:160px; background-position: -488px -2px}
.leagueoflegends_rank_4 {width:160px; height:160px; background-position: -650px -2px}
.leagueoflegends_rank_5 {width:160px; height:160px; background-position: -812px -2px}
.leagueoflegends_rank_6 {width:160px; height:160px; background-position: -974px -2px}
.leagueoflegends_rank_7 {width:160px; height:160px; background-position: -1136px -2px}
.leagueoflegends_rank_8 {width:160px; height:160px; background-position: -1298px -2px}
.leagueoflegends_rank_9 {width:160px; height:160px; background-position: -1460px -2px}
.leagueoflegends_item_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(leagueoflegends_item.jpg);}

.leagueoflegends_item_abyssal_scepter {width:64px; height:64px; background-position: -2px -2px}
.leagueoflegends_item_adaptive_helm {width:64px; height:64px; background-position: -68px -2px}
.leagueoflegends_item_aegis_of_the_legion {width:64px; height:64px; background-position: -134px -2px}
.leagueoflegends_item_aether_wisp {width:64px; height:64px; background-position: -200px -2px}
.leagueoflegends_item_amplifying_tome {width:64px; height:64px; background-position: -266px -2px}
.leagueoflegends_item_ancient_coin {width:64px; height:64px; background-position: -332px -2px}
.leagueoflegends_item_arcane_sweeper {width:64px; height:64px; background-position: -398px -2px}
.leagueoflegends_item_arcane_sweeper_trinket {width:64px; height:64px; background-position: -2px -68px}
.leagueoflegends_item_archangels_staff {width:64px; height:64px; background-position: -68px -68px}
.leagueoflegends_item_ardent_censer {width:64px; height:64px; background-position: -134px -68px}
.leagueoflegends_item_athenes_unholy_grail {width:64px; height:64px; background-position: -200px -68px}
.leagueoflegends_item_atmas_impaler {width:64px; height:64px; background-position: -266px -68px}
.leagueoflegends_item_augment_death {width:64px; height:64px; background-position: -332px -68px}
.leagueoflegends_item_augment_gravity {width:64px; height:64px; background-position: -398px -68px}
.leagueoflegends_item_augment_power {width:64px; height:64px; background-position: -2px -134px}
.leagueoflegends_item_avarice_blade {width:64px; height:64px; background-position: -68px -134px}
.leagueoflegends_item_b_f_sword {width:64px; height:64px; background-position: -134px -134px}
.leagueoflegends_item_bamis_cinder {width:64px; height:64px; background-position: -200px -134px}
.leagueoflegends_item_banner_of_command {width:64px; height:64px; background-position: -266px -134px}
.leagueoflegends_item_banshees_veil {width:64px; height:64px; background-position: -332px -134px}
.leagueoflegends_item_berserkers_greaves {width:64px; height:64px; background-position: -398px -134px}
.leagueoflegends_item_berserkers_greaves_alacrity {width:64px; height:64px; background-position: -2px -200px}
.leagueoflegends_item_berserkers_greaves_captain {width:64px; height:64px; background-position: -68px -200px}
.leagueoflegends_item_berserkers_greaves_distortion {width:64px; height:64px; background-position: -134px -200px}
.leagueoflegends_item_berserkers_greaves_furor {width:64px; height:64px; background-position: -200px -200px}
.leagueoflegends_item_berserkers_greaves_homeguard {width:64px; height:64px; background-position: -266px -200px}
.leagueoflegends_item_bilgewater_cutlass {width:64px; height:64px; background-position: -332px -200px}
.leagueoflegends_item_blackfire_torch {width:64px; height:64px; background-position: -398px -200px}
.leagueoflegends_item_blade_of_the_ruined_king {width:64px; height:64px; background-position: -2px -266px}
.leagueoflegends_item_blasting_wand {width:64px; height:64px; background-position: -68px -266px}
.leagueoflegends_item_bonetooth_necklace_blue {width:64px; height:64px; background-position: -134px -266px}
.leagueoflegends_item_bonetooth_necklace_green {width:64px; height:64px; background-position: -200px -266px}
.leagueoflegends_item_bonetooth_necklace_red {width:64px; height:64px; background-position: -266px -266px}
.leagueoflegends_item_bonetooth_necklace_yellow {width:64px; height:64px; background-position: -332px -266px}
.leagueoflegends_item_boots_of_mobility {width:64px; height:64px; background-position: -398px -266px}
.leagueoflegends_item_boots_of_mobility_alacrity {width:64px; height:64px; background-position: -2px -332px}
.leagueoflegends_item_boots_of_mobility_captain {width:64px; height:64px; background-position: -68px -332px}
.leagueoflegends_item_boots_of_mobility_distortion {width:64px; height:64px; background-position: -134px -332px}
.leagueoflegends_item_boots_of_mobility_furor {width:64px; height:64px; background-position: -200px -332px}
.leagueoflegends_item_boots_of_mobility_homeguard {width:64px; height:64px; background-position: -266px -332px}
.leagueoflegends_item_boots_of_speed {width:64px; height:64px; background-position: -332px -332px}
.leagueoflegends_item_boots_of_swiftness {width:64px; height:64px; background-position: -398px -332px}
.leagueoflegends_item_boots_of_swiftness_alacrity {width:64px; height:64px; background-position: -2px -398px}
.leagueoflegends_item_boots_of_swiftness_captain {width:64px; height:64px; background-position: -68px -398px}
.leagueoflegends_item_boots_of_swiftness_distortion {width:64px; height:64px; background-position: -134px -398px}
.leagueoflegends_item_boots_of_swiftness_furor {width:64px; height:64px; background-position: -200px -398px}
.leagueoflegends_item_boots_of_swiftness_homeguard {width:64px; height:64px; background-position: -266px -398px}
.leagueoflegends_item_brawlers_gloves {width:64px; height:64px; background-position: -332px -398px}
.leagueoflegends_item_catalyst_of_aeons {width:64px; height:64px; background-position: -398px -398px}
.leagueoflegends_item_caulfields_warhammer {width:64px; height:64px; background-position: -2px -464px}
.leagueoflegends_item_chain_vest {width:64px; height:64px; background-position: -68px -464px}
.leagueoflegends_item_chalice_of_harmony {width:64px; height:64px; background-position: -134px -464px}
.leagueoflegends_item_cloak_and_dagger {width:64px; height:64px; background-position: -200px -464px}
.leagueoflegends_item_cloak_of_agility {width:64px; height:64px; background-position: -266px -464px}
.leagueoflegends_item_cloth_armor {width:64px; height:64px; background-position: -332px -464px}
.leagueoflegends_item_control_ward {width:64px; height:64px; background-position: -398px -464px}
.leagueoflegends_item_corrupting_potion {width:64px; height:64px; background-position: -2px -530px}
.leagueoflegends_item_crystalline_bracer {width:64px; height:64px; background-position: -68px -530px}
.leagueoflegends_item_crystalline_flask {width:64px; height:64px; background-position: -134px -530px}
.leagueoflegends_item_cull {width:64px; height:64px; background-position: -200px -530px}
.leagueoflegends_item_dagger {width:64px; height:64px; background-position: -266px -530px}
.leagueoflegends_item_dead_mans_plate {width:64px; height:64px; background-position: -332px -530px}
.leagueoflegends_item_deathfire_grasp {width:64px; height:64px; background-position: -398px -530px}
.leagueoflegends_item_deaths_dance {width:64px; height:64px; background-position: -2px -596px}
.leagueoflegends_item_deaths_daughter {width:64px; height:64px; background-position: -68px -596px}
.leagueoflegends_item_dervish_blade {width:64px; height:64px; background-position: -134px -596px}
.leagueoflegends_item_dorans_blade {width:64px; height:64px; background-position: -200px -596px}
.leagueoflegends_item_dorans_ring {width:64px; height:64px; background-position: -266px -596px}
.leagueoflegends_item_dorans_shield {width:64px; height:64px; background-position: -332px -596px}
.leagueoflegends_item_duskblade_of_draktharr {width:64px; height:64px; background-position: -398px -596px}
.leagueoflegends_item_edge_of_night {width:64px; height:64px; background-position: -2px -662px}
.leagueoflegends_item_eleisas_miracle {width:64px; height:64px; background-position: -68px -662px}
.leagueoflegends_item_elixir_of_agility {width:64px; height:64px; background-position: -134px -662px}
.leagueoflegends_item_elixir_of_brilliance {width:64px; height:64px; background-position: -200px -662px}
.leagueoflegends_item_elixir_of_fortitude {width:64px; height:64px; background-position: -266px -662px}
.leagueoflegends_item_elixir_of_iron {width:64px; height:64px; background-position: -332px -662px}
.leagueoflegends_item_elixir_of_ruin {width:64px; height:64px; background-position: -398px -662px}
.leagueoflegends_item_elixir_of_sorcery {width:64px; height:64px; background-position: -2px -728px}
.leagueoflegends_item_elixir_of_wrath {width:64px; height:64px; background-position: -68px -728px}
.leagueoflegends_item_enchantment_alacrity {width:64px; height:64px; background-position: -134px -728px}
.leagueoflegends_item_enchantment_bloodrazor {width:64px; height:64px; background-position: -200px -728px}
.leagueoflegends_item_enchantment_captain {width:64px; height:64px; background-position: -266px -728px}
.leagueoflegends_item_enchantment_cinderhulk {width:64px; height:64px; background-position: -332px -728px}
.leagueoflegends_item_enchantment_devourer {width:64px; height:64px; background-position: -398px -728px}
.leagueoflegends_item_enchantment_distortion {width:64px; height:64px; background-position: -2px -794px}
.leagueoflegends_item_enchantment_furor {width:64px; height:64px; background-position: -68px -794px}
.leagueoflegends_item_enchantment_homeguard {width:64px; height:64px; background-position: -134px -794px}
.leagueoflegends_item_enchantment_juggernaut {width:64px; height:64px; background-position: -200px -794px}
.leagueoflegends_item_enchantment_runeglaive {width:64px; height:64px; background-position: -266px -794px}
.leagueoflegends_item_enchantment_runic_echoes {width:64px; height:64px; background-position: -332px -794px}
.leagueoflegends_item_enchantment_warrior {width:64px; height:64px; background-position: -398px -794px}
.leagueoflegends_item_entropy {width:64px; height:64px; background-position: -2px -860px}
.leagueoflegends_item_essence_reaver {width:64px; height:64px; background-position: -68px -860px}
.leagueoflegends_item_executioners_calling {width:64px; height:64px; background-position: -134px -860px}
.leagueoflegends_item_explorers_ward {width:64px; height:64px; background-position: -200px -860px}
.leagueoflegends_item_eye_of_the_equinox {width:64px; height:64px; background-position: -266px -860px}
.leagueoflegends_item_eye_of_the_oasis {width:64px; height:64px; background-position: -332px -860px}
.leagueoflegends_item_eye_of_the_watchers {width:64px; height:64px; background-position: -398px -860px}
.leagueoflegends_item_face_of_the_mountain {width:64px; height:64px; background-position: -2px -926px}
.leagueoflegends_item_faerie_charm {width:64px; height:64px; background-position: -68px -926px}
.leagueoflegends_item_farsight_alteration {width:64px; height:64px; background-position: -134px -926px}
.leagueoflegends_item_farsight_orb {width:64px; height:64px; background-position: -200px -926px}
.leagueoflegends_item_feral_flare {width:64px; height:64px; background-position: -266px -926px}
.leagueoflegends_item_fiendish_codex {width:64px; height:64px; background-position: -332px -926px}
.leagueoflegends_item_fire_at_will {width:64px; height:64px; background-position: -398px -926px}
.leagueoflegends_item_forbidden_idol {width:64px; height:64px; background-position: -2px -992px}
.leagueoflegends_item_force_of_nature {width:64px; height:64px; background-position: -68px -992px}
.leagueoflegends_item_frost_queens_claim {width:64px; height:64px; background-position: -134px -992px}
.leagueoflegends_item_frostfang {width:64px; height:64px; background-position: -200px -992px}
.leagueoflegends_item_frozen_heart {width:64px; height:64px; background-position: -266px -992px}
.leagueoflegends_item_frozen_mallet {width:64px; height:64px; background-position: -332px -992px}
.leagueoflegends_item_gargoyle_stoneplate {width:64px; height:64px; background-position: -398px -992px}
.leagueoflegends_item_giant_slayer {width:64px; height:64px; background-position: -2px -1058px}
.leagueoflegends_item_giants_belt {width:64px; height:64px; background-position: -68px -1058px}
.leagueoflegends_item_glacial_shroud {width:64px; height:64px; background-position: -134px -1058px}
.leagueoflegends_item_greater_lens {width:64px; height:64px; background-position: -200px -1058px}
.leagueoflegends_item_greater_orb {width:64px; height:64px; background-position: -266px -1058px}
.leagueoflegends_item_greater_stealth_totem {width:64px; height:64px; background-position: -332px -1058px}
.leagueoflegends_item_greater_totem {width:64px; height:64px; background-position: -398px -1058px}
.leagueoflegends_item_greater_vision_totem {width:64px; height:64px; background-position: -2px -1124px}
.leagueoflegends_item_grezs_spectral_lantern {width:64px; height:64px; background-position: -68px -1124px}
.leagueoflegends_item_guardian_angel {width:64px; height:64px; background-position: -134px -1124px}
.leagueoflegends_item_guardians_hammer {width:64px; height:64px; background-position: -200px -1124px}
.leagueoflegends_item_guardians_horn {width:64px; height:64px; background-position: -266px -1124px}
.leagueoflegends_item_guardians_orb {width:64px; height:64px; background-position: -332px -1124px}
.leagueoflegends_item_guinsoos_rageblade {width:64px; height:64px; background-position: -398px -1124px}
.leagueoflegends_item_haunting_guise {width:64px; height:64px; background-position: -2px -1190px}
.leagueoflegends_item_head_of_khazix {width:64px; height:64px; background-position: -68px -1190px}
.leagueoflegends_item_health_potion {width:64px; height:64px; background-position: -134px -1190px}
.leagueoflegends_item_heart_of_gold {width:64px; height:64px; background-position: -200px -1190px}
.leagueoflegends_item_hexdrinker {width:64px; height:64px; background-position: -266px -1190px}
.leagueoflegends_item_hextech_glp_800 {width:64px; height:64px; background-position: -332px -1190px}
.leagueoflegends_item_hextech_gunblade {width:64px; height:64px; background-position: -398px -1190px}
.leagueoflegends_item_hextech_protobelt_01 {width:64px; height:64px; background-position: -2px -1256px}
.leagueoflegends_item_hextech_revolver {width:64px; height:64px; background-position: -68px -1256px}
.leagueoflegends_item_hunters_machete {width:64px; height:64px; background-position: -134px -1256px}
.leagueoflegends_item_hunters_potion {width:64px; height:64px; background-position: -200px -1256px}
.leagueoflegends_item_hunters_talisman {width:64px; height:64px; background-position: -266px -1256px}
.leagueoflegends_item_iceborn_gauntlet {width:64px; height:64px; background-position: -332px -1256px}
.leagueoflegends_item_ichor_of_illumination {width:64px; height:64px; background-position: -398px -1256px}
.leagueoflegends_item_ichor_of_rage {width:64px; height:64px; background-position: -2px -1322px}
.leagueoflegends_item_infinity_edge {width:64px; height:64px; background-position: -68px -1322px}
.leagueoflegends_item_innervating_locket {width:64px; height:64px; background-position: -134px -1322px}
.leagueoflegends_item_ionian_boots_of_lucidity {width:64px; height:64px; background-position: -200px -1322px}
.leagueoflegends_item_ionian_boots_of_lucidity_alacrity {width:64px; height:64px; background-position: -266px -1322px}
.leagueoflegends_item_ionian_boots_of_lucidity_captain {width:64px; height:64px; background-position: -332px -1322px}
.leagueoflegends_item_ionian_boots_of_lucidity_distortion {width:64px; height:64px; background-position: -398px -1322px}
.leagueoflegends_item_ionian_boots_of_lucidity_furor {width:64px; height:64px; background-position: -2px -1388px}
.leagueoflegends_item_ionian_boots_of_lucidity_homeguard {width:64px; height:64px; background-position: -68px -1388px}
.leagueoflegends_item_ionic_spark {width:64px; height:64px; background-position: -134px -1388px}
.leagueoflegends_item_jaurims_fist {width:64px; height:64px; background-position: -200px -1388px}
.leagueoflegends_item_kindlegem {width:64px; height:64px; background-position: -266px -1388px}
.leagueoflegends_item_kircheis_shard {width:64px; height:64px; background-position: -332px -1388px}
.leagueoflegends_item_kitaes_bloodrazor {width:64px; height:64px; background-position: -398px -1388px}
.leagueoflegends_item_knights_vow {width:64px; height:64px; background-position: -2px -1454px}
.leagueoflegends_item_last_whisper {width:64px; height:64px; background-position: -68px -1454px}
.leagueoflegends_item_leviathan {width:64px; height:64px; background-position: -134px -1454px}
.leagueoflegends_item_liandrys_torment {width:64px; height:64px; background-position: -200px -1454px}
.leagueoflegends_item_lich_bane {width:64px; height:64px; background-position: -266px -1454px}
.leagueoflegends_item_locket_of_the_iron_solari {width:64px; height:64px; background-position: -332px -1454px}
.leagueoflegends_item_long_sword {width:64px; height:64px; background-position: -398px -1454px}
.leagueoflegends_item_lord_dominiks_regards {width:64px; height:64px; background-position: -2px -1520px}
.leagueoflegends_item_lord_van_damms_pillager {width:64px; height:64px; background-position: -68px -1520px}
.leagueoflegends_item_lost_chapter {width:64px; height:64px; background-position: -134px -1520px}
.leagueoflegends_item_ludens_echo {width:64px; height:64px; background-position: -200px -1520px}
.leagueoflegends_item_madreds_bloodrazor {width:64px; height:64px; background-position: -266px -1520px}
.leagueoflegends_item_madreds_razors {width:64px; height:64px; background-position: -332px -1520px}
.leagueoflegends_item_malady {width:64px; height:64px; background-position: -398px -1520px}
.leagueoflegends_item_mana_manipulator {width:64px; height:64px; background-position: -2px -1586px}
.leagueoflegends_item_mana_potion {width:64px; height:64px; background-position: -68px -1586px}
.leagueoflegends_item_manamune {width:64px; height:64px; background-position: -134px -1586px}
.leagueoflegends_item_maw_of_malmortius {width:64px; height:64px; background-position: -200px -1586px}
.leagueoflegends_item_mejais_soulstealer {width:64px; height:64px; background-position: -266px -1586px}
.leagueoflegends_item_meki_pendant {width:64px; height:64px; background-position: -332px -1586px}
.leagueoflegends_item_mercurial_scimitar {width:64px; height:64px; background-position: -398px -1586px}
.leagueoflegends_item_mercurys_treads {width:64px; height:64px; background-position: -2px -1652px}
.leagueoflegends_item_mercurys_treads_alacrity {width:64px; height:64px; background-position: -68px -1652px}
.leagueoflegends_item_mercurys_treads_captain {width:64px; height:64px; background-position: -134px -1652px}
.leagueoflegends_item_mercurys_treads_distortion {width:64px; height:64px; background-position: -200px -1652px}
.leagueoflegends_item_mercurys_treads_furor {width:64px; height:64px; background-position: -266px -1652px}
.leagueoflegends_item_mercurys_treads_homeguard {width:64px; height:64px; background-position: -332px -1652px}
.leagueoflegends_item_mikaels_crucible {width:64px; height:64px; background-position: -398px -1652px}
.leagueoflegends_item_moonflair_spellblade {width:64px; height:64px; background-position: -2px -1718px}
.leagueoflegends_item_morellonomicon {width:64px; height:64px; background-position: -68px -1718px}
.leagueoflegends_item_morellos_evil_tome {width:64px; height:64px; background-position: -134px -1718px}
.leagueoflegends_item_mortal_reminder {width:64px; height:64px; background-position: -200px -1718px}
.leagueoflegends_item_muramana {width:64px; height:64px; background-position: -266px -1718px}
.leagueoflegends_item_nashors_tooth {width:64px; height:64px; background-position: -332px -1718px}
.leagueoflegends_item_needlessly_large_rod {width:64px; height:64px; background-position: -398px -1718px}
.leagueoflegends_item_negatron_cloak {width:64px; height:64px; background-position: -2px -1784px}
.leagueoflegends_item_ninja_tabi {width:64px; height:64px; background-position: -68px -1784px}
.leagueoflegends_item_ninja_tabi_alacrity {width:64px; height:64px; background-position: -134px -1784px}
.leagueoflegends_item_ninja_tabi_captain {width:64px; height:64px; background-position: -200px -1784px}
.leagueoflegends_item_ninja_tabi_distortion {width:64px; height:64px; background-position: -266px -1784px}
.leagueoflegends_item_ninja_tabi_furor {width:64px; height:64px; background-position: -332px -1784px}
.leagueoflegends_item_ninja_tabi_homeguard {width:64px; height:64px; background-position: -398px -1784px}
.leagueoflegends_item_nomads_medallion {width:64px; height:64px; background-position: -2px -1850px}
.leagueoflegends_item_null_magic_mantle {width:64px; height:64px; background-position: -68px -1850px}
.leagueoflegends_item_odyns_veil {width:64px; height:64px; background-position: -134px -1850px}
.leagueoflegends_item_ohmwrecker {width:64px; height:64px; background-position: -200px -1850px}
.leagueoflegends_item_oracle_alteration {width:64px; height:64px; background-position: -266px -1850px}
.leagueoflegends_item_oracles_elixir {width:64px; height:64px; background-position: -332px -1850px}
.leagueoflegends_item_oracles_extract {width:64px; height:64px; background-position: -398px -1850px}
.leagueoflegends_item_oracles_lens {width:64px; height:64px; background-position: -2px -1916px}
.leagueoflegends_item_orb_of_winter {width:64px; height:64px; background-position: -68px -1916px}
.leagueoflegends_item_overlords_bloodmail {width:64px; height:64px; background-position: -134px -1916px}
.leagueoflegends_item_perfect_hex_core {width:64px; height:64px; background-position: -200px -1916px}
.leagueoflegends_item_phage {width:64px; height:64px; background-position: -266px -1916px}
.leagueoflegends_item_phantom_dancer {width:64px; height:64px; background-position: -332px -1916px}
.leagueoflegends_item_pickaxe {width:64px; height:64px; background-position: -398px -1916px}
.leagueoflegends_item_poachers_dirk {width:64px; height:64px; background-position: -2px -1982px}
.leagueoflegends_item_poachers_knife {width:64px; height:64px; background-position: -68px -1982px}
.leagueoflegends_item_poachers_knife_cinderhulk {width:64px; height:64px; background-position: -134px -1982px}
.leagueoflegends_item_poachers_knife_devourer {width:64px; height:64px; background-position: -200px -1982px}
.leagueoflegends_item_poachers_knife_runeglaive {width:64px; height:64px; background-position: -266px -1982px}
.leagueoflegends_item_poachers_knife_warrior {width:64px; height:64px; background-position: -332px -1982px}
.leagueoflegends_item_poro_snax {width:64px; height:64px; background-position: -398px -1982px}
.leagueoflegends_item_priscillas_blessing {width:64px; height:64px; background-position: -2px -2048px}
.leagueoflegends_item_prospectors_blade {width:64px; height:64px; background-position: -68px -2048px}
.leagueoflegends_item_prospectors_ring {width:64px; height:64px; background-position: -134px -2048px}
.leagueoflegends_item_prototype_hex_core {width:64px; height:64px; background-position: -200px -2048px}
.leagueoflegends_item_quicksilver_sash {width:64px; height:64px; background-position: -266px -2048px}
.leagueoflegends_item_quill_coat {width:64px; height:64px; background-position: -332px -2048px}
.leagueoflegends_item_rabadons_deathcap {width:64px; height:64px; background-position: -398px -2048px}
.leagueoflegends_item_raise_morale {width:64px; height:64px; background-position: -2px -2114px}
.leagueoflegends_item_randuins_omen {width:64px; height:64px; background-position: -68px -2114px}
.leagueoflegends_item_rangers_trailblazer {width:64px; height:64px; background-position: -134px -2114px}
.leagueoflegends_item_rangers_trailblazer_cinderhulk {width:64px; height:64px; background-position: -200px -2114px}
.leagueoflegends_item_rangers_trailblazer_devourer {width:64px; height:64px; background-position: -266px -2114px}
.leagueoflegends_item_rangers_trailblazer_runeglaive {width:64px; height:64px; background-position: -332px -2114px}
.leagueoflegends_item_rangers_trailblazer_warrior {width:64px; height:64px; background-position: -398px -2114px}
.leagueoflegends_item_rapid_firecannon {width:64px; height:64px; background-position: -2px -2180px}
.leagueoflegends_item_raptor_cloak {width:64px; height:64px; background-position: -68px -2180px}
.leagueoflegends_item_ravenous_hydra {width:64px; height:64px; background-position: -134px -2180px}
.leagueoflegends_item_recurve_bow {width:64px; height:64px; background-position: -200px -2180px}
.leagueoflegends_item_redemption {width:64px; height:64px; background-position: -266px -2180px}
.leagueoflegends_item_refillable_potion {width:64px; height:64px; background-position: -332px -2180px}
.leagueoflegends_item_regrowth_pendant {width:64px; height:64px; background-position: -398px -2180px}
.leagueoflegends_item_rejuvenation_bead {width:64px; height:64px; background-position: -2px -2246px}
.leagueoflegends_item_relic_shield {width:64px; height:64px; background-position: -68px -2246px}
.leagueoflegends_item_righteous_glory {width:64px; height:64px; background-position: -134px -2246px}
.leagueoflegends_item_rod_of_ages {width:64px; height:64px; background-position: -200px -2246px}
.leagueoflegends_item_ruby_crystal {width:64px; height:64px; background-position: -266px -2246px}
.leagueoflegends_item_ruby_sightstone {width:64px; height:64px; background-position: -332px -2246px}
.leagueoflegends_item_runaans_hurricane {width:64px; height:64px; background-position: -398px -2246px}
.leagueoflegends_item_runic_bulwark {width:64px; height:64px; background-position: -2px -2312px}
.leagueoflegends_item_rylais_crystal_scepter {width:64px; height:64px; background-position: -68px -2312px}
.leagueoflegends_item_sages_ring {width:64px; height:64px; background-position: -134px -2312px}
.leagueoflegends_item_sanguine_blade {width:64px; height:64px; background-position: -200px -2312px}
.leagueoflegends_item_sapphire_crystal {width:64px; height:64px; background-position: -266px -2312px}
.leagueoflegends_item_scrying_orb {width:64px; height:64px; background-position: -332px -2312px}
.leagueoflegends_item_seekers_armguard {width:64px; height:64px; background-position: -398px -2312px}
.leagueoflegends_item_seraphs_embrace {width:64px; height:64px; background-position: -2px -2378px}
.leagueoflegends_item_serrated_dirk {width:64px; height:64px; background-position: -68px -2378px}
.leagueoflegends_item_sheen {width:64px; height:64px; background-position: -134px -2378px}
.leagueoflegends_item_sightstone {width:64px; height:64px; background-position: -200px -2378px}
.leagueoflegends_item_skirmishers_sabre {width:64px; height:64px; background-position: -266px -2378px}
.leagueoflegends_item_skirmishers_sabre_bloodrazor {width:64px; height:64px; background-position: -332px -2378px}
.leagueoflegends_item_skirmishers_sabre_cinderhulk {width:64px; height:64px; background-position: -398px -2378px}
.leagueoflegends_item_skirmishers_sabre_devourer {width:64px; height:64px; background-position: -2px -2444px}
.leagueoflegends_item_skirmishers_sabre_runeglaive {width:64px; height:64px; background-position: -68px -2444px}
.leagueoflegends_item_skirmishers_sabre_runic_echoes {width:64px; height:64px; background-position: -134px -2444px}
.leagueoflegends_item_skirmishers_sabre_warrior {width:64px; height:64px; background-position: -200px -2444px}
.leagueoflegends_item_sorcerers_shoes {width:64px; height:64px; background-position: -266px -2444px}
.leagueoflegends_item_sorcerers_shoes_alacrity {width:64px; height:64px; background-position: -332px -2444px}
.leagueoflegends_item_sorcerers_shoes_captain {width:64px; height:64px; background-position: -398px -2444px}
.leagueoflegends_item_sorcerers_shoes_distortion {width:64px; height:64px; background-position: -2px -2510px}
.leagueoflegends_item_sorcerers_shoes_furor {width:64px; height:64px; background-position: -68px -2510px}
.leagueoflegends_item_sorcerers_shoes_homeguard {width:64px; height:64px; background-position: -134px -2510px}
.leagueoflegends_item_soul_anchor {width:64px; height:64px; background-position: -200px -2510px}
.leagueoflegends_item_soul_shroud {width:64px; height:64px; background-position: -266px -2510px}
.leagueoflegends_item_spectres_cowl {width:64px; height:64px; background-position: -332px -2510px}
.leagueoflegends_item_spellthiefs_edge {width:64px; height:64px; background-position: -398px -2510px}
.leagueoflegends_item_spirit_of_the_ancient_golem {width:64px; height:64px; background-position: -2px -2576px}
.leagueoflegends_item_spirit_of_the_elder_lizard {width:64px; height:64px; background-position: -68px -2576px}
.leagueoflegends_item_spirit_of_the_spectral_wraith {width:64px; height:64px; background-position: -134px -2576px}
.leagueoflegends_item_spirit_stone {width:64px; height:64px; background-position: -200px -2576px}
.leagueoflegends_item_spirit_visage {width:64px; height:64px; background-position: -266px -2576px}
.leagueoflegends_item_stalkers_blade {width:64px; height:64px; background-position: -332px -2576px}
.leagueoflegends_item_stalkers_blade_bloodrazor {width:64px; height:64px; background-position: -398px -2576px}
.leagueoflegends_item_stalkers_blade_cinderhulk {width:64px; height:64px; background-position: -2px -2642px}
.leagueoflegends_item_stalkers_blade_devourer {width:64px; height:64px; background-position: -68px -2642px}
.leagueoflegends_item_stalkers_blade_runeglaive {width:64px; height:64px; background-position: -134px -2642px}
.leagueoflegends_item_stalkers_blade_runic_echoes {width:64px; height:64px; background-position: -200px -2642px}
.leagueoflegends_item_stalkers_blade_warrior {width:64px; height:64px; background-position: -266px -2642px}
.leagueoflegends_item_statikk_shiv {width:64px; height:64px; background-position: -332px -2642px}
.leagueoflegends_item_stealth_ward {width:64px; height:64px; background-position: -398px -2642px}
.leagueoflegends_item_steraks_gage {width:64px; height:64px; background-position: -2px -2708px}
.leagueoflegends_item_stinger {width:64px; height:64px; background-position: -68px -2708px}
.leagueoflegends_item_sunfire_cape {width:64px; height:64px; background-position: -134px -2708px}
.leagueoflegends_item_sweeping_lens {width:64px; height:64px; background-position: -200px -2708px}
.leagueoflegends_item_sword_of_the_divine {width:64px; height:64px; background-position: -266px -2708px}
.leagueoflegends_item_sword_of_the_occult {width:64px; height:64px; background-position: -332px -2708px}
.leagueoflegends_item_talisman_of_ascension {width:64px; height:64px; background-position: -398px -2708px}
.leagueoflegends_item_targons_brace {width:64px; height:64px; background-position: -2px -2774px}
.leagueoflegends_item_tear_of_the_goddess {width:64px; height:64px; background-position: -68px -2774px}
.leagueoflegends_item_the_black_cleaver {width:64px; height:64px; background-position: -134px -2774px}
.leagueoflegends_item_the_black_spear {width:64px; height:64px; background-position: -200px -2774px}
.leagueoflegends_item_the_bloodthirster {width:64px; height:64px; background-position: -266px -2774px}
.leagueoflegends_item_the_brutalizer {width:64px; height:64px; background-position: -332px -2774px}
.leagueoflegends_item_the_dark_seal {width:64px; height:64px; background-position: -398px -2774px}
.leagueoflegends_item_the_hex_core {width:64px; height:64px; background-position: -2px -2840px}
.leagueoflegends_item_the_hex_core_mk_1 {width:64px; height:64px; background-position: -68px -2840px}
.leagueoflegends_item_the_hex_core_mk_2 {width:64px; height:64px; background-position: -134px -2840px}
.leagueoflegends_item_the_lightbringer {width:64px; height:64px; background-position: -200px -2840px}
.leagueoflegends_item_thornmail {width:64px; height:64px; background-position: -266px -2840px}
.leagueoflegends_item_tiamat {width:64px; height:64px; background-position: -332px -2840px}
.leagueoflegends_item_titanic_hydra {width:64px; height:64px; background-position: -398px -2840px}
.leagueoflegends_item_total_biscuit_of_rejuvenation {width:64px; height:64px; background-position: -2px -2906px}
.leagueoflegends_item_trackers_knife {width:64px; height:64px; background-position: -68px -2906px}
.leagueoflegends_item_trackers_knife_bloodrazor {width:64px; height:64px; background-position: -134px -2906px}
.leagueoflegends_item_trackers_knife_cinderhulk {width:64px; height:64px; background-position: -200px -2906px}
.leagueoflegends_item_trackers_knife_devourer {width:64px; height:64px; background-position: -266px -2906px}
.leagueoflegends_item_trackers_knife_runeglaive {width:64px; height:64px; background-position: -332px -2906px}
.leagueoflegends_item_trackers_knife_runic_echoes {width:64px; height:64px; background-position: -398px -2906px}
.leagueoflegends_item_trackers_knife_warrior {width:64px; height:64px; background-position: -2px -2972px}
.leagueoflegends_item_trinity_force {width:64px; height:64px; background-position: -68px -2972px}
.leagueoflegends_item_twin_shadows {width:64px; height:64px; background-position: -134px -2972px}
.leagueoflegends_item_vampiric_scepter {width:64px; height:64px; background-position: -200px -2972px}
.leagueoflegends_item_vision_ward {width:64px; height:64px; background-position: -266px -2972px}
.leagueoflegends_item_void_staff {width:64px; height:64px; background-position: -332px -2972px}
.leagueoflegends_item_wardens_mail {width:64px; height:64px; background-position: -398px -2972px}
.leagueoflegends_item_warding_totem {width:64px; height:64px; background-position: -2px -3038px}
.leagueoflegends_item_warmogs_armor {width:64px; height:64px; background-position: -68px -3038px}
.leagueoflegends_item_wicked_hatchet {width:64px; height:64px; background-position: -134px -3038px}
.leagueoflegends_item_will_of_the_ancients {width:64px; height:64px; background-position: -200px -3038px}
.leagueoflegends_item_wits_end {width:64px; height:64px; background-position: -266px -3038px}
.leagueoflegends_item_wooglets_witchcap {width:64px; height:64px; background-position: -332px -3038px}
.leagueoflegends_item_wriggles_lantern {width:64px; height:64px; background-position: -398px -3038px}
.leagueoflegends_item_youmuus_ghostblade {width:64px; height:64px; background-position: -2px -3104px}
.leagueoflegends_item_zeal {width:64px; height:64px; background-position: -68px -3104px}
.leagueoflegends_item_zekes_harbinger {width:64px; height:64px; background-position: -134px -3104px}
.leagueoflegends_item_zephyr {width:64px; height:64px; background-position: -200px -3104px}
.leagueoflegends_item_zhonyas_hourglass {width:64px; height:64px; background-position: -266px -3104px}
.leagueoflegends_item_zhonyas_ring {width:64px; height:64px; background-position: -332px -3104px}
.leagueoflegends_item_zzrot_portal {width:64px; height:64px; background-position: -398px -3104px}
.leagueoflegends_role_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(leagueoflegends_role.jpg);}

.leagueoflegends_role_1 {width:256px; height:256px; background-position: -2px -2px}
.leagueoflegends_role_2 {width:256px; height:256px; background-position: -260px -2px}
.leagueoflegends_role_3 {width:256px; height:256px; background-position: -518px -2px}
.leagueoflegends_role_4 {width:256px; height:256px; background-position: -2px -260px}
.leagueoflegends_role_5 {width:256px; height:256px; background-position: -260px -260px}
.leagueoflegends_role_6 {width:256px; height:256px; background-position: -518px -260px}
.leagueoflegends_champ_sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(leagueoflegends_champ.jpg);}

.leagueoflegends_champ_aatrox {width:120px; height:120px; background-position: -2px -2px}
.leagueoflegends_champ_ahri {width:120px; height:120px; background-position: -124px -2px}
.leagueoflegends_champ_akali {width:120px; height:120px; background-position: -246px -2px}
.leagueoflegends_champ_alistar {width:120px; height:120px; background-position: -368px -2px}
.leagueoflegends_champ_amumu {width:120px; height:120px; background-position: -490px -2px}
.leagueoflegends_champ_anivia {width:120px; height:120px; background-position: -612px -2px}
.leagueoflegends_champ_annie {width:120px; height:120px; background-position: -734px -2px}
.leagueoflegends_champ_ashe {width:120px; height:120px; background-position: -856px -2px}
.leagueoflegends_champ_aurelionsol {width:120px; height:120px; background-position: -2px -124px}
.leagueoflegends_champ_azir {width:120px; height:120px; background-position: -124px -124px}
.leagueoflegends_champ_bard {width:120px; height:120px; background-position: -246px -124px}
.leagueoflegends_champ_blitzcrank {width:120px; height:120px; background-position: -368px -124px}
.leagueoflegends_champ_brand {width:120px; height:120px; background-position: -490px -124px}
.leagueoflegends_champ_braum {width:120px; height:120px; background-position: -612px -124px}
.leagueoflegends_champ_caitlyn {width:120px; height:120px; background-position: -734px -124px}
.leagueoflegends_champ_camille {width:120px; height:120px; background-position: -856px -124px}
.leagueoflegends_champ_cassiopeia {width:120px; height:120px; background-position: -2px -246px}
.leagueoflegends_champ_chogath {width:120px; height:120px; background-position: -124px -246px}
.leagueoflegends_champ_corki {width:120px; height:120px; background-position: -246px -246px}
.leagueoflegends_champ_darius {width:120px; height:120px; background-position: -368px -246px}
.leagueoflegends_champ_diana {width:120px; height:120px; background-position: -490px -246px}
.leagueoflegends_champ_draven {width:120px; height:120px; background-position: -612px -246px}
.leagueoflegends_champ_drmundo {width:120px; height:120px; background-position: -734px -246px}
.leagueoflegends_champ_ekko {width:120px; height:120px; background-position: -856px -246px}
.leagueoflegends_champ_elise {width:120px; height:120px; background-position: -2px -368px}
.leagueoflegends_champ_evelynn {width:120px; height:120px; background-position: -124px -368px}
.leagueoflegends_champ_ezreal {width:120px; height:120px; background-position: -246px -368px}
.leagueoflegends_champ_fiddlesticks {width:120px; height:120px; background-position: -368px -368px}
.leagueoflegends_champ_fiora {width:120px; height:120px; background-position: -490px -368px}
.leagueoflegends_champ_fizz {width:120px; height:120px; background-position: -612px -368px}
.leagueoflegends_champ_galio {width:120px; height:120px; background-position: -734px -368px}
.leagueoflegends_champ_gangplank {width:120px; height:120px; background-position: -856px -368px}
.leagueoflegends_champ_garen {width:120px; height:120px; background-position: -2px -490px}
.leagueoflegends_champ_gnar {width:120px; height:120px; background-position: -124px -490px}
.leagueoflegends_champ_gragas {width:120px; height:120px; background-position: -246px -490px}
.leagueoflegends_champ_graves {width:120px; height:120px; background-position: -368px -490px}
.leagueoflegends_champ_hecarim {width:120px; height:120px; background-position: -490px -490px}
.leagueoflegends_champ_heimerdinger {width:120px; height:120px; background-position: -612px -490px}
.leagueoflegends_champ_illaoi {width:120px; height:120px; background-position: -734px -490px}
.leagueoflegends_champ_irelia {width:120px; height:120px; background-position: -856px -490px}
.leagueoflegends_champ_ivern {width:120px; height:120px; background-position: -2px -612px}
.leagueoflegends_champ_janna {width:120px; height:120px; background-position: -124px -612px}
.leagueoflegends_champ_jarvaniv {width:120px; height:120px; background-position: -246px -612px}
.leagueoflegends_champ_jax {width:120px; height:120px; background-position: -368px -612px}
.leagueoflegends_champ_jayce {width:120px; height:120px; background-position: -490px -612px}
.leagueoflegends_champ_jhin {width:120px; height:120px; background-position: -612px -612px}
.leagueoflegends_champ_jinx {width:120px; height:120px; background-position: -734px -612px}
.leagueoflegends_champ_kalista {width:120px; height:120px; background-position: -856px -612px}
.leagueoflegends_champ_karma {width:120px; height:120px; background-position: -2px -734px}
.leagueoflegends_champ_karthus {width:120px; height:120px; background-position: -124px -734px}
.leagueoflegends_champ_kassadin {width:120px; height:120px; background-position: -246px -734px}
.leagueoflegends_champ_katarina {width:120px; height:120px; background-position: -368px -734px}
.leagueoflegends_champ_kayle {width:120px; height:120px; background-position: -490px -734px}
.leagueoflegends_champ_kennen {width:120px; height:120px; background-position: -612px -734px}
.leagueoflegends_champ_khazix {width:120px; height:120px; background-position: -734px -734px}
.leagueoflegends_champ_kindred {width:120px; height:120px; background-position: -856px -734px}
.leagueoflegends_champ_kled {width:120px; height:120px; background-position: -2px -856px}
.leagueoflegends_champ_kogmaw {width:120px; height:120px; background-position: -124px -856px}
.leagueoflegends_champ_leblanc {width:120px; height:120px; background-position: -246px -856px}
.leagueoflegends_champ_leesin {width:120px; height:120px; background-position: -368px -856px}
.leagueoflegends_champ_leona {width:120px; height:120px; background-position: -490px -856px}
.leagueoflegends_champ_lissandra {width:120px; height:120px; background-position: -612px -856px}
.leagueoflegends_champ_lucian {width:120px; height:120px; background-position: -734px -856px}
.leagueoflegends_champ_lulu {width:120px; height:120px; background-position: -856px -856px}
.leagueoflegends_champ_lux {width:120px; height:120px; background-position: -2px -978px}
.leagueoflegends_champ_malphite {width:120px; height:120px; background-position: -124px -978px}
.leagueoflegends_champ_malzahar {width:120px; height:120px; background-position: -246px -978px}
.leagueoflegends_champ_maokai {width:120px; height:120px; background-position: -368px -978px}
.leagueoflegends_champ_masteryi {width:120px; height:120px; background-position: -490px -978px}
.leagueoflegends_champ_missfortune {width:120px; height:120px; background-position: -612px -978px}
.leagueoflegends_champ_mordekaiser {width:120px; height:120px; background-position: -734px -978px}
.leagueoflegends_champ_morgana {width:120px; height:120px; background-position: -856px -978px}
.leagueoflegends_champ_nami {width:120px; height:120px; background-position: -2px -1100px}
.leagueoflegends_champ_nasus {width:120px; height:120px; background-position: -124px -1100px}
.leagueoflegends_champ_nautilus {width:120px; height:120px; background-position: -246px -1100px}
.leagueoflegends_champ_nidalee {width:120px; height:120px; background-position: -368px -1100px}
.leagueoflegends_champ_nocturne {width:120px; height:120px; background-position: -490px -1100px}
.leagueoflegends_champ_nunu {width:120px; height:120px; background-position: -612px -1100px}
.leagueoflegends_champ_olaf {width:120px; height:120px; background-position: -734px -1100px}
.leagueoflegends_champ_orianna {width:120px; height:120px; background-position: -856px -1100px}
.leagueoflegends_champ_pantheon {width:120px; height:120px; background-position: -2px -1222px}
.leagueoflegends_champ_poppy {width:120px; height:120px; background-position: -124px -1222px}
.leagueoflegends_champ_quinn {width:120px; height:120px; background-position: -246px -1222px}
.leagueoflegends_champ_rakan {width:120px; height:120px; background-position: -368px -1222px}
.leagueoflegends_champ_rammus {width:120px; height:120px; background-position: -490px -1222px}
.leagueoflegends_champ_reksai {width:120px; height:120px; background-position: -612px -1222px}
.leagueoflegends_champ_renekton {width:120px; height:120px; background-position: -734px -1222px}
.leagueoflegends_champ_rengar {width:120px; height:120px; background-position: -856px -1222px}
.leagueoflegends_champ_riven {width:120px; height:120px; background-position: -2px -1344px}
.leagueoflegends_champ_rumble {width:120px; height:120px; background-position: -124px -1344px}
.leagueoflegends_champ_ryze {width:120px; height:120px; background-position: -246px -1344px}
.leagueoflegends_champ_sejuani {width:120px; height:120px; background-position: -368px -1344px}
.leagueoflegends_champ_shaco {width:120px; height:120px; background-position: -490px -1344px}
.leagueoflegends_champ_shen {width:120px; height:120px; background-position: -612px -1344px}
.leagueoflegends_champ_shyvana {width:120px; height:120px; background-position: -734px -1344px}
.leagueoflegends_champ_singed {width:120px; height:120px; background-position: -856px -1344px}
.leagueoflegends_champ_sion {width:120px; height:120px; background-position: -2px -1466px}
.leagueoflegends_champ_sivir {width:120px; height:120px; background-position: -124px -1466px}
.leagueoflegends_champ_skarner {width:120px; height:120px; background-position: -246px -1466px}
.leagueoflegends_champ_sona {width:120px; height:120px; background-position: -368px -1466px}
.leagueoflegends_champ_soraka {width:120px; height:120px; background-position: -490px -1466px}
.leagueoflegends_champ_swain {width:120px; height:120px; background-position: -612px -1466px}
.leagueoflegends_champ_syndra {width:120px; height:120px; background-position: -734px -1466px}
.leagueoflegends_champ_tahmkench {width:120px; height:120px; background-position: -856px -1466px}
.leagueoflegends_champ_taliyah {width:120px; height:120px; background-position: -2px -1588px}
.leagueoflegends_champ_talon {width:120px; height:120px; background-position: -124px -1588px}
.leagueoflegends_champ_taric {width:120px; height:120px; background-position: -246px -1588px}
.leagueoflegends_champ_teemo {width:120px; height:120px; background-position: -368px -1588px}
.leagueoflegends_champ_thresh {width:120px; height:120px; background-position: -490px -1588px}
.leagueoflegends_champ_tristana {width:120px; height:120px; background-position: -612px -1588px}
.leagueoflegends_champ_trundle {width:120px; height:120px; background-position: -734px -1588px}
.leagueoflegends_champ_tryndamere {width:120px; height:120px; background-position: -856px -1588px}
.leagueoflegends_champ_twistedfate {width:120px; height:120px; background-position: -2px -1710px}
.leagueoflegends_champ_twitch {width:120px; height:120px; background-position: -124px -1710px}
.leagueoflegends_champ_udyr {width:120px; height:120px; background-position: -246px -1710px}
.leagueoflegends_champ_urgot {width:120px; height:120px; background-position: -368px -1710px}
.leagueoflegends_champ_varus {width:120px; height:120px; background-position: -490px -1710px}
.leagueoflegends_champ_vayne {width:120px; height:120px; background-position: -612px -1710px}
.leagueoflegends_champ_veigar {width:120px; height:120px; background-position: -734px -1710px}
.leagueoflegends_champ_velkoz {width:120px; height:120px; background-position: -856px -1710px}
.leagueoflegends_champ_vi {width:120px; height:120px; background-position: -2px -1832px}
.leagueoflegends_champ_viktor {width:120px; height:120px; background-position: -124px -1832px}
.leagueoflegends_champ_vladimir {width:120px; height:120px; background-position: -246px -1832px}
.leagueoflegends_champ_volibear {width:120px; height:120px; background-position: -368px -1832px}
.leagueoflegends_champ_warwick {width:120px; height:120px; background-position: -490px -1832px}
.leagueoflegends_champ_wukong {width:120px; height:120px; background-position: -612px -1832px}
.leagueoflegends_champ_xayah {width:120px; height:120px; background-position: -734px -1832px}
.leagueoflegends_champ_xerath {width:120px; height:120px; background-position: -856px -1832px}
.leagueoflegends_champ_xinzhao {width:120px; height:120px; background-position: -2px -1954px}
.leagueoflegends_champ_yasuo {width:120px; height:120px; background-position: -124px -1954px}
.leagueoflegends_champ_yorick {width:120px; height:120px; background-position: -246px -1954px}
.leagueoflegends_champ_zac {width:120px; height:120px; background-position: -368px -1954px}
.leagueoflegends_champ_zed {width:120px; height:120px; background-position: -490px -1954px}
.leagueoflegends_champ_ziggs {width:120px; height:120px; background-position: -612px -1954px}
.leagueoflegends_champ_zilean {width:120px; height:120px; background-position: -734px -1954px}
.leagueoflegends_champ_zyra {width:120px; height:120px; background-position: -856px -1954px}
